@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

/* body {
    font-family: 'Roboto', 'Exo', 'Montserrat', sans-serif;
    background-color: #01000100;
    max-width: 1080px;

} */

/* .fixed-nav-bar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    width: 100%;
    height: 50px;
}

h3 {
    font-family: 'Exo';
} */


/* Home section  */
 /* .home {
    height: 70vh;
    color: rgb(245, 245, 245);
    font-size: 40px;
    width: 1080px;
} */

video {
    position: absolute;
    opacity: 0.8;
    height: auto;

} 

 /* .navbar-toggler {
    color: #010001;
} */

#background-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
} 



.button {
    background-color: #ff533d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
} 

/* navbar  */

/* .nav-item {
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin-right: 50px;
}


a {
    color: #010001;
    text-decoration: none;
    background-color: transparent;
}


li {
    display: inline-block;
    padding: 15px;
}

li:hover {
    border-bottom: 2px solid #ff533d;

} */


 /* .logo {
    height: 120px;
    width: 120px;
} */


.home__title {
    font-size: 120px;
    color: white;
    line-height: .8;
}

.home__title span {
    text-shadow: 0 30px 35px rgba(0, 0, 0, .5);
} 


/* About section  */

/* .about {
    background-color: #fffdfc;
    
    color: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: space-around;
    padding: 80px;
    width: 1800px;
}

.about_img {
    display: inline-block;
    margin-right: 300px;
    margin-left: 100px;
    border-radius: 50%;
}

.info {
    margin-top: 30px;
    margin-right: 50px;
} */

/* paragraphy  */
/* 
p {
    font-size: 18px;
    color: black;
    font-family: 'Montserrat';

}

.about h2 {
    font-family: 'Exo';
    font-style: italic;
    color: black;
} */


/* Skills section  */

#skills{
    background-image: linear-gradient(to right, #f9f7f7,#c4b2f1);
}

.skills {
    padding: 30px;
    
}

.section-title {
    margin-left: 50px;
}

.btn {
    margin: 3px;
    margin-bottom: 30px;
    font-family: 'Exo';
}

.skills__subtitle {
    color: #ff533d;
    margin-bottom: .5rem;
    font-family: 'Roboto';
}

.btn:hover {
    background-color: #ff533d;
    color: white;
} */

/* Portfolio section  */
/* .portfolio {
    background-color: #fffdfc;
    height: auto;
    color: rgb(5, 0, 0);
    width: 1800px;
    padding: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-family: 'Exo';
}


.column {
    margin-top: 20px;
}

.column img {
    border-radius: 25px;
} */

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(108, 108, 108, 0.583);
    border-radius: 5%;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 8%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Exo';
}

.text2 {
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text2 a:hover {
    color: #ff533d;
    text-decoration: none;
    background-color: transparent;

}

.porfolio__social {
    color: white;
}  */


/* footer section  */

/* footer {
    background-color: #ff533d;
    color: whitesmoke;
    font-size: 40px;
    width: 1800px;

}

.footer__title {
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Exo';
    color: whitesmoke;
}

.copyright {
    font-size: 30px;
    font-family: 'Montserrat';
}

.social {
    font-size: 25px;
    gap: 40px;
}

.footer_p {
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Montserrat';
    color: whitesmoke;
}

.footer__social {
    color: white;
    size: 5px;
}

.follow {
    margin-top: 25px;
    font-family: 'Exo';
    color: whitesmoke;
}


.social a:hover {
    color: #475c7a;
    text-decoration: none;
    background-color: transparent;
}

.footer_p  a:hover {
    color: #475c7a;
    text-decoration: none;
    background-color: transparent;
} */



/* arrows */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: 70px;
}

.arrows path {
    stroke: #030c11;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    
} */




/* 

@media only screen and (max-width:500px) {
    .info h2,p {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-right: 1185px;
        margin-left: 50px;
        font-size: 15px;
  }

  @media only screen and (max-width:500px) {
    .home__title {
        font-size: 90px;
        color: white;
        line-height: .8;
        padding-top: 71px;
        padding-left: 150px;
    }
  } */


  *
  {
  margin: 0;
  padding: 0;
  
  }
  
  body{
      font-family: sans-serif;
  }
  
  #nav-bar{
      position:sticky;
      top: 0;
      z-index: 10;
  }
  
  .navbar{
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
      padding: 0;  /*!important! */
  }
  
  .navbar-brand img{
      height: 90px;
      padding-left: 10px;
  }
  
  .navbar-nav li{
      padding: 0 10px;
  
  }
  
  .navbar-nav li a {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 5px;
      color: white;
  
  }
  .fa-bars{
      color: white;
      font-size: 30px;
      
  }
  
  .navbar-toggler{
      outline: none;
  }
  
  /*-------Banner-------*/
  #banner{
      color: aliceblue;
      padding-top: 5%;
      padding-bottom: 30px;
  }
  
  .promo-title{
      font-size: 40px;
      font-weight: 600;
      margin-top: 100px;
  }
  
  .play-btn{
      width: 45px;
      margin: 20px;
  }
  
  #banner a{
      color: aliceblue;
      text-decoration: none;
  }
  
  
  /*-------about-------*/
  
  #about{
      /* background: #fe5e5e; */
      padding-bottom: 50px;
      padding-top: 50px;
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
  
  }
  
  .about-title{
      font-size: 40px;
      font-weight: 400;
  } 
  
  #about ul li{
      margin: 10px 0;
  }
  
  #about ul{
      margin-left: 20px;
  }
  
  .about-img {
      display: inline-block;
      margin-left: 67px;
      margin-bottom: 10px;
      border-radius: 50%;
      width: 350px;
  }
  #portfilio{
    padding: 50px;
    background: #fe5e5e;
  }

  
  /*-------Footer & SOCIAL----------*/
  
  #social-media{
      background: #9570f5;
      padding: 20px 0;
  
  }
  
  #social-media h1{
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 30px;
  }
  
  .footer_p{
    font-size: 16px;
  }
  
  .social-icons i{
      width: 60px;
      transition: 0.5s;
      font-size: 50px;
      color: white;
  }
  .social-icons img{
      margin-bottom: 30px;
      transition: 0.5s;
  }
  .social-icons a:hover img{
      transform: translateY(-10px);
  }
  
  .social-icons a:hover i{
      transform: translateY(-10px);
  }
  
  
  #footer{
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
      color: white;
  
  }
  
  .social-icons img{
      width: 120px;
      padding-bottom: 60px;
  }
  
  .footer-box i{
      margin-right: 8px;
      font-size: 25px;
      height: 40px;
      width: 40px;
      text-align: center;
      padding-top: 7px;
      border-radius: 2px;
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
  
  }
  
  .footer-box .form-control{
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: 25px;
      max-width: 250px;
  
  }
  
  .footer-box .btn-primary{
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: 30px;
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
  }
    


  