@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Exo' sans-serif;
    background: #0e1217db;
}

h1{
    font-family: 'Roboto';
    color: white;
    padding-top: 150px;
    font-size: 80px;
}
h3{
    font-family: 'Exo';
    color: white;
}


.menuitem span {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.box{
    vertical-align: top;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    vertical-align: top;
    margin: 0 auto;
    max-width: 1200px;

}

.box .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #070707;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}


/* size of icon */

.topnav{
    height: 108px;
}

.topnav a i {
    color: #020202;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
} 

/* Change the color of links on hover */
.topnav-right a:hover {
  background-color: #ddd;
  color: black;
  height: 108px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.logo{
    width: 80px;
    height: 80px;
    margin-left: 40px;
}
 
.grid-container-element { 
    margin-top: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 25px; 
    width: 100%; 
} 
.grid-child-element { 
    margin: 30px; 
    width: 100%;
    height: 500px;
    margin-bottom: auto;

}



#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }





.Me img {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    opacity: 0.7;
    border-radius: 20%;
    margin-top: 30px;
}

.Me img {
    float: left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.Me img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    opacity: 1.0;
}