@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Exo' sans-serif;
    background-color: #010001;
    
}

h2{
    font-family: 'Exo';
}

/* Home section  */
.home{
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}

video{
    position:absolute;
    left:0px;
    top:0px;
    opacity:0.8;/*optional for a cute view!*/

}
#background-video {
    width: 1450px;
    height: 70vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 150px;
}

/* navbar  */
.navbar{
    background-color: rgb(244, 247, 247);
    width: 1450px;
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
}

.nav-item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
} 

a {
    color: #010001;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #f131f1;
    text-decoration: none;
    background-color: transparent;
}

li {
    display:inline-block;
    padding:15px;
}
   
li:hover {
     border-bottom: 2px solid rgb(251, 0, 255);
}


.logo{
    height: 120px;
    width: 120px;
}

.home__title{
    align-self: flex-end;
    font-size: 120px;
    color: white;
    line-height: .8;
    padding-top: 150px;
    padding-left: 150px;
}
.home__title span{
    text-shadow: 0 30px 35px rgba(0,0,0,.5);
}

/* About section  */
.about{
    background-color: rgb(90, 88, 88);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    width: 1500px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

/* info */
.about_img{
    display:inline-block;
    margin-right: 50px;
}

.info{
    margin-top: 30px;
    margin-right: 50px;
}

/* Skills section  */
.skills{
    background-color: rgb(0, 0, 0);
    height: 50vh;
    color: whitesmoke;
    font-size: 40px;
    padding: 30px;
    width: 1500px;
}
.section-title{
    margin-left: 100px;
}
.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(14, 3, 3);
    margin: 3px;
    margin-bottom: 30px;
    font-family: 'Exo';
}

.skills__container{
    margin-left: 100px;
}

.skills__subtitle{
    color: rgb(214, 8, 214);
    margin-bottom: .5rem;
    font-family: 'Roboto';
}

.btn:hover{
    background-color:rgb(214, 8, 214);
    color: white;
}

/* Portfolio section  */
.portfolio{
    background-color: rgb(232, 30, 30);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
    width: 1500px;
}

/* contact section / form  */
.contact{
    background-color: rgb(17, 206, 248);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
    width: 1500px;
}

/* footer section  */

footer{
    background-color: #04AA6D;
    height: 30vh;
    color: whitesmoke;
    font-size: 40px;
    width: 1500px;
}






.me{
    margin-left: 800px;
    height: 400px;
    width: 400px;
    
}



/* .Me img {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    opacity: 0.7;
    border-radius: 20%;
    margin-top: 30px;
}

.Me img {
    float: left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.Me img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    opacity: 1.0;
}  */


img{
    border-radius: 50%;
    
}

.center{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    overflow:auto;

}


/* arrows */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
    margin-top: 70px;
}

.arrows path {
	stroke: #030c11;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:100%;
    padding:20px 100px 100px 20px;
}
#container>div {
    width: 300px;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background:rgb(247, 245, 245);
}
span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}