@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Exo' sans-serif;
    
}
.home{
    background-color: rgb(243, 97, 19);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}
.about{
    background-color: black;
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}
.skills{
    background-color: rgb(204, 51, 238);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}
.portfolio{
    background-color: rgb(232, 30, 30);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}
.contact{
    background-color: rgb(17, 206, 248);
    height: 70vh;
    color: whitesmoke;
    font-size: 40px;
}

footer{
    background-color: #04AA6D;
    height: 30vh;
    color: whitesmoke;
    font-size: 40px;
}


.nav-item {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
} 

li {
    display:inline-block;
    padding:15px;
}
   
li:hover {
     border-bottom: 2px solid rgb(251, 0, 255);
}

.navbar{
    background-color: aqua;
}





/* #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
 */


/* 

.Me img {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    opacity: 0.7;
    border-radius: 20%;
    margin-top: 30px;
}

.Me img {
    float: left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.Me img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    opacity: 1.0;
} */


.home__container{
    height: 3rem;
    row-gap: 5rem;
}
.home__title{
    align-self: flex-end;
    font-size: 50px;
    color: white;
    line-height: .8;
}
.home__title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}
.home__scroll{
    align-self: flex-end;
    padding-bottom: 2rem;
}
.home__scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

