@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*
{
  margin: 0;
  padding: 0;
  
}
  
body{
      font-family: sans-serif;
  }
  
/*-------NavBar-------*/
#nav-bar{
      position:sticky;
      top: 0;
      z-index: 10;
}
  
.navbar{
      background-image: linear-gradient(to right, #fe5e5ed0,#9570f5);
      padding: 0;  /*!important! */
  }
  
.navbar-brand img{
      height: 90px;
      padding-left: 10px;
  }
  
.navbar-nav li{
      padding: 0 10px;
  
  }

.navbar-nav li:hover {
    border-bottom: 2px solid #ff533d;

}
  
.navbar-nav li a {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 5px;
      color: white;
  
}

.fa-bars{
      color: white;
      font-size: 30px;
      
  }
  
.navbar-toggler{
      outline: none;
}
  
/*-------Banner-------*/
#banner{
      color: aliceblue;
      padding-top: 5%;
      padding-bottom: 30px;
    }
  
.promo-title{
      font-size: 40px;
      font-weight: 600;
      margin-top: 100px;
  }
  
.play-btn{
      width: 45px;
      margin: 20px;
  }
  
#banner a{
      color: aliceblue;
      text-decoration: none;
  }


/*-------Video-------*/
  video {
    opacity: 0.8;

} 

#background-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
} 

.button {
    background-color: #ff533d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
} 



.home__title {
    font-size: 120px;
    color: white;
    line-height: .8;
}

.home__title span {
    text-shadow: 0 30px 35px rgba(0, 0, 0, .5);
} 

  
  
/*-------about-------*/
#about{
      padding-bottom: 50px;
      padding-top: 50px;
      background-image: linear-gradient(to right, #fe5e5e,#f570a1);
  }
  
.title{
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  
.about-title{
      font-size: 40px;
      font-weight: 400;
      font-family: 'Roboto';
  } 

.about-title p{
    font-family: 'Exo';
  }
  
#about ul li{
      margin: 10px 0;
  }
  
#about ul{
      margin-left: 20px;
  }
  
.about-img {
      display: inline-block;
      margin-left: 67px;
      margin-bottom: 10px;
      border-radius: 50%;
      width: 350px;
  }

/* Skills section  */

#skills{
    background-image: linear-gradient(to right, #f9f7f7,#c4b2f1);
    padding: 50px;
}

.skills {
    padding: 30px;
    
}

.section-title {
    margin-left: 50px;
}

.btn1 {
    display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        background-color: transparent;
        border: 1px solid black;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
        margin-bottom: 20px;
        
        }

.skills__subtitle {
    color: #ff533d;
    margin-bottom: .5rem;
    font-family: 'Roboto';
}

.btn1:hover {
    background-color: #ff533d;
    color: white;
    border: 1px solid transparent;
} 

/*-------Portfolio----------*/

#portfilio{
    padding: 10px;
    background: #fe5e5e;
  }

.containerm {
    min-height: 30vh;
    overflow: hidden;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.image {
    overflow: hidden;
    height: 250px;
    width: 250px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555
}

.image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: blue;
    opacity: 0.8;
    border-radius: 50%;
    transition: .8s
}

.image:hover:after {
    transform: translate(-50%, -50%)
}

.image:hover .portfilio {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

.portfilio {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s
}

.image i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
    font-size: 50px;
}

.image:hover i {
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}  

.image i:hover {
    color: #ff533d;
}

#portfilio h1{
    padding-top: 20px;
}

  
/*-------Footer & SOCIAL----------*/
  
#social-media{
      background: #9570f5;
      padding: 20px 0;
  
  }
  
#social-media h1{
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 30px;
      font-family: 'Roboto';
  }
  
.footer_p{
    font-size: 16px;
    margin-top: 60px;
    font-family: 'Exo';
  }
  
.social-icons i{
      width: 80px;
      transition: 0.5s;
      font-size: 50px;
      color: white;
      margin-right: 20px;
  }
  
.social-icons i{
      margin-bottom: 30px;
      transition: 0.5s;
  }
 
.social-icons a:hover i{
      transform: translateY(-10px);
      color: #fe5e5e;
  }
  
.social-icons a:hover i{
      transform: translateY(-10px);
  }
  
  
#footer{
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
      color: white;
  
  }
  
.social-icons img{
      width: 120px;
      padding-bottom: 60px;
  }
  
.footer-box i{
      margin-right: 8px;
      font-size: 25px;
      height: 40px;
      width: 40px;
      text-align: center;
      padding-top: 7px;
      border-radius: 2px;
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
  
  }
  
.footer-box .form-control{
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: 25px;
      max-width: 250px;
  
  }
  
.footer-box .btn-primary{
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: 30px;
      background-image: linear-gradient(to right, #fe5e5e,#9570f5);
  }

.footer-img{
    width: 150px;

}

.footer__social {
    color: white;
}

.footer__social:hover{
    color: #fe5e5e;
}

.portfilio__social {
    color: white;
} 








/* --------arrows--------- */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: -92px;
}

.arrows path {
    stroke: #030c11;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    
} 


